
<div class="webcontainer">
<div class="home-div">{{#link-to 'stacks'}}<img src="https://iili.io/JRSlTaS.jpg" alt="home icon">{{/link-to}}</div>

{{outlet}}

</div>


{{!-- <img src="https://iili.io/JR0VRSI.png" alt="home icon"> --}}