

<div class="stack">
  {{!-- {{--https://iili.io/JR0VRSI.png--}}

<div class="add-new-stack-btn">
<button type="button" >Add new stack</button>
  </div>
<div class="stack-container-list">
  
 <div class="stacks-header">
  <h5>Stacks</h5>
  <h5>Environment</h5>
  <h5>Availability</h5>
  <h5>History</h5>

</div>
 
  {{#each stack in model}}
<div class="single-stack">
  <h6 >{{stack.name}}</h6>
<p>{{stack.environment}} </p>
<button>Use</button>
        {{!-- Ember automatically generates a URL with those parameters and makes them part of the URL. 
        The parameters are then accessible in the target route's model hook as an object with corresponding keys. --}}
        {{#link-to "usage-history" stack.id target="_self"}}
        <img src="https://iili.io/JR0TVa4.png" alt="history">
        {{/link-to}}
</div>
{{/each}}

</div>
</div>

<div class="email-verify-div">
    <img src="https://iili.io/JRV5cZv.png" alt="cross-icon">
<form action="">
   <p>email
    {{input type="email" name="email"}}
 </p>
</form>
 <button type="submit">Verify</button>
</div>


<div class="container">

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

</div>
